/* TOPO */
.topo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffc446;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 10;
    padding: 10px;
    padding-bottom: 0px;
    height: 100px;

}

.logo { 
  height: 60px;
  width: 60px;
  background-color: black; 
  padding: 1px; 
  margin: 0px;
  border-radius: 10%;
  transform: scale(1.4); /* aumenta sem mexer no nav */
  transform-origin: center; /* garante que cresça pro centro */
  margin-left: 20px;

}


/* Ajuste para que o conteúdo não fique atrás do topo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffc446;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 70px; /* espaço para o topo fixo */
    margin: 0;
}

.container {
    background-color: #ff6a00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    width: 350px;
    padding-right: 50px;
}

.container h1 {
    text-align: center;
    color: white;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin: 20px auto;   
    display: block;      
    width: 300px;  
    padding: 10px 30px;  
    background-color: #400000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.3);
    transition: 1s;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

a:hover {
    text-decoration: underline; 
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.opt {
    font-size: 14px;
}
